<% if user_signed_in? %>
  <li>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete, form_class: "log-buttons" %>        
  </li>
<% else %>
  <li>
    <%= button_to('Login', new_user_session_path) %>  
  </li>
  <li>
    <%= button_to('Register', new_user_registration_path) %>
  </li>
<% end %>