<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control is-offset-one-quarter is-half">
    <%= f.input :post, label: "What is your secret?", input_html: { class: "textarea" }, label_html: { class: "label" }, placeholder: "Spill your beans" %>
  </div>
</div>
<%= f.button :submit, class: "button" %>
<% end %>